<div class="container-customer">
  <div class="all-customers-container">
    <ng-container *ngIf="meetings">
      <div class="single-customer-container"
        *ngFor="let meetingReply of meetings;, index as i;"
        [id]="'meeting-' + i" (click)="getMeeting(meetingReply.meetID)">
        <div><b>Name:</b> {{ meetingReply.customerName }}</div>
        <div><b> Email:</b> {{ meetingReply.email }}</div>
        <div><b> Meeting title:</b> {{ meetingReply.meetTitle }}</div>
        <div><b> Date:</b> {{ meetingReply.meetDate | date:'dd/MM/yy' }} <b>|
            From:</b> {{
          meetingReply.startAt }} <b>| To:</b> {{ meetingReply.endAt }}</div>
      </div>
    </ng-container>
  </div>
  <div class="customer-container">
    <form #viewMeetingForm="ngForm" class="form-container">
      <h3 class="form-title">Edit meeting schedule</h3>
      <div id="edited-message" class="message">{{ message }}</div>
      <app-form-meeting #meetingForm></app-form-meeting>
      <div class="button-container">
        <button class="button-action" type="button"
          (click)="updateMeeting(viewMeetingForm)">Update meeting</button>
        <button class="button-action" type="button"
          (click)="deleteMeeting(meetingForm.meeting.meetID, viewMeetingForm)">Delete
          meeting</button>
      </div>
    </form>
  </div>
</div>
