<div class="container-component">
  <div class="group-container">
    <form #addCustomerForm="ngForm" class="form-container"
      (ngSubmit)="addCustomer(addCustomerForm)">
      <h3 class="form-title">Create a client</h3>
      <app-form-customer #customerForm></app-form-customer>
      <div class="button-container">
        <button class="button-submit" type="submit"
          [disabled]="!addCustomerForm.form.valid">Create
          customer</button>
      </div>
    </form>
    <div class="image-container">
    </div>
  </div>
</div>
